<h1> Invalid Authorization</h1>

Please refer to 
<%= link_to 'Help with PIDs', 'http://www.4help.vt.edu' %>.
<br>
Please try 
<%= link_to 'log in', url_for(:controller=>'sessions',:action=>'authorize') %>
again.
