<p>
  <b>Availability:</b>
  <%=h @availability_description.availability %>
</p>

<p>
  <b>Description:</b>
  <%=h @availability_description.description %>
</p>


<%= link_to 'Edit', edit_availability_description_path(@availability_description) %> |
<%= link_to 'Back', availability_descriptions_path %>