<% # TODO: What else needs to be added? %>
<h3>Admin Items</h3>
<p>
  <%= link_to("Roles", roles_path) %><br />
  <%= link_to("Permissions", permissions_path) %><br />
  <%= link_to("Provenances", provenances_path) %><br />
</p>
