  <div id="candidates">
    <table>
      <% @candidates = Person.where("UPPER(first_name||' '||last_name) LIKE '%" + params[:name].upcase + "%'") %>
      <% for candidate in @candidates do %>
        <tr>
          <td><%= radio_button_tag("committee", candidate.id) %></td>
          <td><%= candidate.name %></td>
        </tr>
      <% end %>
    </table>
    <%= select_tag(:committee_type, options_for_select(['Committee Member', 'Committee Chair', 'Committee Co-Chair'])) %>
  </div>
