  <div id="candidates">
    <table>
      <% @candidates = Person.where("last_name LIKE '%" + params[:lname] + "%'") %>
      <% for candidate in @candidates do %>
        <tr>
          <td><%= radio_button_tag("committee", candidate.id) %></td>
          <td><%= candidate.first_name + " " + candidate.last_name%></td>
        </tr>
      <% end %>
    </table>
    <%= select_tag(:committee_type, options_for_select(['Committee Member', 'Committee Chair', 'Committee Co-Chair'])) %>
  </div>
