<p>
  <b>Creator:</b>
  <%=h @provenance.creator %>
</p>

<p>
  <b>Notice:</b>
  <%=h @provenance.notice %>
</p>


<%= link_to 'Edit', edit_provenance_path(@provenance) %> |
<%= link_to 'Back', provenances_path %>