<br>
<div align="center">
<blockquote><span class="i b"> <a class="underline b i" href="http://scholar.lib.vt.edu/theses/browse/by_author/">Browse  18,784</a>
  publicly available and VT-only (but not withheld) ETDs.</span> </blockquote>
<%= image_tag("logofull.gif", alt: "ETD Logo") %><br>
<span class="i">http://scholar.lib.vt.edu/theses/</span>
</div>

<br>
<p>Since the 1980s Virginia Tech has played a leadership role in Electronic Theses and Dissertations (ETD) initiatives worldwide. On Jan. 1, 1997 ETDs became a requirement at Virginia Tech. The Graduate School continues to make the final approval and the Library stores, provides access, and preserves the ETDs. </p>
<p>Virginia Tech's ETD policies, procedures, and software is openly available from this Web site, which provides access to information that will help other institutions establish and maintain their ETD initiatives. At <span class="i b"><a href="http://etd.vt.edu/">etd.vt.edu</a></span> are the guidelines and policies that apply to Virginia Tech's graduate students as ETD authors.  </p>
<p>A primary goal of ETD initiatives is to make the research and scholarship conducted by graduate students readily accessible. Virginia Tech's ETDs are available by browsing authors and departments in the <span class="i b"><a href="http://scholar.lib.vt.edu/theses/browse/">ETD database,</a></span> the library's online catalog (<span class="i b"><a href="http://addison.vt.edu/">Addison</a></span>), and from the <a href="http://www.ndltd.org/find">Networked Digital Library of Theses and Dissertations</a> (NDLTD). as well as <a href="http://alcme.oclc.org/ndltd/servlet/OAIHandler?verb=ListSets">other sources.</a></p>
<p>ETDs also give future academics opportunities to prepare electronic works such as book chapters, journal articles, and conference presentations, that will also be submitted, reviewed and published electronically. Authors can <a href="http://lumiere.lib.vt.edu/ETD-db/ETD-submit/login">practice online submission.</a></p>
<p>Another goal of ETDs is to expand the medium of expression beyond printed text and illustrations, to audio, video, 3-D images, etc. Every year the NDLTD sponsors financial awards to graduate students for "Innovative ETDs" and "Innovative Learning through ETDs. See  <a href="http://www.ndltd.org/events_and_awards/awards/etd-awards">award winning-ETDs.</a></p>

<hr>

<h3><i>Find out about ETDs</i></h3>
<ul>
	<li><a href="http://scholar.lib.vt.edu/theses/data/">Facts, Data, Information</a>
		<span style="font-size:smaller">Archiving, servers, staffing, use, etc.</span></li>

	<li><a href="http://scholar.lib.vt.edu/theses/prespub.html">Presentations and Publications about VT ETDs</a></li>
   <li><a href="http://scholar.lib.vt.edu/theses/EatonCGS2000ETDauthors.pdf">2000 VT Alumni Survey Results</a><span class="pdf">(PDF 519KB)</span></li>
</ul>
