<p>
  <b>Description:</b>
  <%=h @copyright_statement.description %>
</p>


<%= link_to 'Edit', edit_copyright_statement_path(@copyright_statement) %> |
<%= link_to 'Back', copyright_statements_path %>