  <div id="candidates">
    <% unless @candidates.empty? %>
    <table>
      <% for candidate in @candidates do %>
        <tr>
          <td><%= radio_button_tag(:candidate_id, candidate.id) %></td>
          <td><%= candidate.name %></td>
        </tr>
      <% end %>
    </table>
    <%= select_tag(:role_id, options_from_collection_for_select(Role.where(group: @role_group), :id, :name)) %>
    <br />
    <br />
    <%= submit_tag("Add to ETD") %>
    <% end %>
  </div>
