<h1>New ETD</h1>
<br />
<table>
  <tr>
    <th>Uploaded Files:</th>
  </tr>
  <% for c in @etd.contents do %>
    <tr>
      <td><%= c.uploaded_file_name %></td>
    </tr>
  <% end%>
</table>
Add Content link
<br /><br />
<table>
  <tr>
    <th>Person:</th>
    <th>Role:</th>
  </tr>
  <% for pr in @prs do %>
    <tr>
      <td><%= pr[:first_name] + " " + pr[:last_name] %></td>
      <td><%= pr[:role] %></td>
    </tr>
  <% end%>
</table>
Add Committee Member link
<br /><br />
<%= link_to 'Back to ETDs', etds_path %>
