<!DOCTYPE html>
<html>
        <head></head>
        <body>
                <h1>Congratulations, <%= @author.first_name %>!</h1>
                <p>You have successfully submitted your ETD, "<%= @etd.title %>".<br />
                We have also emailed your comittee, and the graduate school.</p><br />
                <p>ETDDB</p>
        </body>
</html>
