<!DOCTYPE html>
<html>
        <head></head>
        <body>
                <h1><%= @author.display_name %> just submitted their ETD!</h1>
                <p>You are recieving this email because you are on the committee for their ETD, "<%= @etd.title %>".</p>
                <p>ETDDB</p>
        </body>
</html>
