<!DOCTYPE html>
<html>
        <head></head>
        <body>
                <h1><%= @author.first_name %> just submitted their ETD!</h1>
                <p>You may view the ETD here: <a>TODO</a></p>
                <p>ETDDB</p>
        </body>
</html>
