#advance_search {
	border-style: solid;
	border-width: 2px;
	padding: 15px 15px 0;
	border-radius: 5px;
	border-color: #5A6A7A;
	margin-bottom: 15px;
}

#options_list {
	margin-top: 13px;
}

#sort_by_div {
	margin-left: 25px;
}

#total {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
}

#results_list {
	float: right;
}