#advance_search {
	border-style: solid;
	border-width: 2px;
	padding: 15px 15px 0;
	border-radius: 5px;
	border-color: #5A6A7A;
	margin-bottom: 15px;
}

#options_list {
	margin-top: 13px;
	margin-bottom: 10px;
}

#sort_by_div {
	margin-left: 25px;
}

#total {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
}

#results {
	float: right;
	width: 75%;
}

#before_label {
	padding-left: 1em;
}

.date_range_input {
	width: 7em;
}

#date_format {
	color: #D80000;
    font-style: italic;
    height: 2em;
}

dl { 
	padding: 0 0.5em; 
	margin: 1em 0 0.5em 1em;
	font-size: 0.85em;
} 

dt { 
	float: left; 
	clear: left;
	width: 100px;  
	color: #656565;
} 

dt:after { 
	content: ":"; 
} 

dd { 
	margin: 0 0 0 110px; 
	padding: 0 0 0.5em 0; 
}

#paginate_outer {
	float: right;
    right: 50%;
    position: relative;
}

#paginate_inner {
	float: right;
    right: -50%;
    position: relative;
}

.clear {
	clear: both;
}

#results_list {
	margin-top: 3.5em;
	border: 1px solid #5A6A7A;
	border-radius: 5px 5px 5px 5px;
}

.list_entry {
    border-bottom: #5A6A7A dotted;
    border-width: 1px;
    padding: 0.5em 0 0 0.5em;
}

.etd_option_links {
	font-size: 0.85em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.list_entry a{
	color: #00388E;
    text-decoration: none;
    background: #FFFFFF;
}

.list_entry_last {
    padding: 0.5em 0 0 0.5em;
}

.list_entry_last a{
	color: #00388E;
    text-decoration: none;
}

.list_entry h3{
	font-size: 1em;
	color: #656565;
}

.list_entry_last h3{
	font-size: 1em;
	color: #656565;
}

.etd_fulltext {
	margin: 0 1em 1em;
	text-align: left;
	background: #F5F5BD;
	border-radius: 3px 3px 3px 3px;
}

.etd_fulltext em {
	background: #F7FE2E;
	font-style: normal;
}

#clear_button {
	margin-right: 1em;
	margin-top: 6em;
}

#options_table_div {
	float: left;
	width: 39%;
}

#button_div {
	float: right;
}

#options_bottom_section {
	clear: both;
	padding-top: 1em;
}