#facets {
	display: inline;
    float: left;
    margin-right: 0.6993%;
    margin-top: 68px;
    padding: 5px;
    overflow: hidden;
    width: 13em;
    border-color: #5A6A7A;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 2px;
}

#facets ul {
	border-bottom: 1px dotted #CCCCCC;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 0em;
    font-size: 87%;
    list-style-type: none;
}

#facets h3 {
	color: #555555;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    text-align: justify;
}

#facets h4 {
    color: #555555;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    /*padding-top: 0.5em;*/
    padding-bottom: 0.25em;
    text-align: justify;
}

.indented_list_elem {
    margin-left: 10px;
    font-size: 1.2em;
}

#yield {
	width: 81%;
}

#facets ul:last-child {
    border: none;
}