<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"> 
<%= render(:layout => "layouts/shared/header") %> 
<!-- BEGIN PAGE CONTENT HERE --> 
<!-- ########################## BEGIN EDITING PAGE CONTENT HERE ########################## -->

 <div >
 <%= yield :layout %>
 </div>
<%= render(:layout => "layouts/shared/footer") %> 
